/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2019, 12:52:11 PM
    Author     : ndupo
*/
html { 
  background: url(https://www.awaltzthroughdisney.com/uploads/6/2/7/6/6276678/mickey-mouse-short-touchdown-and-out-6_orig.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
    height: 100%;
}

h1 {
    font-family: 'Spirax', cursive;
    font-size: 1.8em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    opacity: 0.2;
}

